<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layouts/navbar :: head('Login')">

</head>

<body>
<div th:replace="layouts/navbar :: navbar"/>
<div class="uk-position-center">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="username"/>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password"/>
            </div>
        </div>
        <p uk-margin>
            <button class="uk-button uk-button-primary uk-button-small"
                    type="submit" value="Sign In">Log In
            </button>
            <a class="uk-button uk-button-default uk-button-small" href="/registration">Sign Up</a>
        </p>
    </form>
</div>
</body>
</html>