<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>

</head>
<body>
<div class="uk-position-center">
    <div th:text="${error}"></div>
    <form th:action="@{/registration}" method="post">
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" name="userName" type="text" placeholder="Username">
        </div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" name="password" type="password" placeholder="Password">
        </div>
        <p uk-margin>
            <button class="uk-button uk-button-primary uk-button-small"
                    type="submit" value="Sign In">Sign Up
            </button>
            <a class="uk-button uk-button-default uk-button-small" href="/login">Back</a>
        </p>
    </form>
</div>
</body>
</html>